/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/


#categories-container {
    margin-left:auto;
    margin-right:auto;
    width:75%;
    margin-top:40px;
}

#categories-container .category {
    width:100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-top: 5px;
}

#categories-container .category:nth-child(even) {background: #F8F8FF}

#categories-container .category:nth-child(odd) {background: #FFF}

#categories-container .category.header{
    font-size:20px;
    font-weight:bold;
    margin-bottom: 5px;
}

#categories-container .category span{
    min-width:30%;

}

#categories-container .category span:first-child{
    float:left;
}

#categories-container .category span:last-child{
    float:right;
}


#loadCategories {
    margin-left:40%;
    width:10%;
    margin-top:2%;

}
